@import 'tailwindcss';

@font-face {
  font-family: 'Hack Nerd Font Mono';
  src: url('/fonts/HackNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack Nerd Font Mono';
  src: url('/fonts/HackNerdFontMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  @apply bg-gray-900 text-gray-100 min-h-screen;
}
